---
import Layout from "../../layouts/Layout.astro"
import { animations } from "../../data/animations"

import Header from "../../components/Header.astro"
import Back from "../../components/icons/Back.astro"
import Copy from "../../components/icons/Copy.astro"

import fs from "node:fs"
import path from "node:path"
import Footer from "../../components/Footer.astro"

export async function getStaticPaths() {
  return animations.map((anim) => ({
    params: { name: anim.class }
  }))
}

const { name } = Astro.params
const animation = animations.find((a) => a.class === name)

if (!animation) {
  throw new Error("Animation not found")
}

const cssPath = path.resolve("./src/styles/animations.css")
const fullCSS = fs.readFileSync(cssPath, "utf-8")

function extractBlock(code: string, marker: string) {
  const startIndex = code.indexOf(marker)
  if (startIndex === -1) return ""

  let i = startIndex + marker.length
  let depth = 1
  let block = marker

  while (i < code.length && depth > 0) {
    const char = code[i]
    block += char

    if (char === "{") depth++
    if (char === "}") depth--

    i++
  }

  return block.trim()
}

const classMatch = extractBlock(fullCSS, `.${animation.class} {`)
const keyframeMatch = extractBlock(fullCSS, `@keyframes ${animation.class} {`)
const cssCode = `${classMatch}\n\n${keyframeMatch}`
---

<Layout>
  <main
    class="relative mx-auto w-full max-w-7xl px-6 md:px-8 lg:px-12 text-white fade-in"
  >
    <Header />
    <section>
      <h1 class="text-2xl font-bold mb-6">{animation.name}</h1>

      <div
        class="bg-slate-950/20 text-white py-20 mb-10 rounded-lg border border-white/10 shadow"
      >
        <div class="flex justify-center">
          <div
            class="hover-trigger w-24 h-24 bg-cyan-400/30 rounded-lg flex items-center justify-center border border-cyan-400/40 animate-on-hover"
            style={`--animation-name: ${animation.class};`}
          >
          </div>
        </div>
      </div>

      <div
        class="bg-gray-900/80 text-whit rounded-lg border border-cyan-700/40 shadow mb-10"
      >
        <div
          class="flex justify-between items-center px-4 py-2 border-b border-cyan-700/20 bg-gray-800/60 rounded-t"
        >
          <span class="text-sm font-mono text-gray-300">global.css</span>
          <button id="copy-button">
            <Copy
              class="w-4 h-4 text-white cursor-pointer transition-transform duration-300 hover:scale-110"
            />
          </button>
        </div>

        <pre
          id="code-block"
          class="text-sm font-mono bg-gray-900 p-4 rounded-b whitespace-pre overflow-x-auto">{cssCode}</pre>

        <div
          class="flex justify-between items-center px-4 py-2 border-t border-cyan-700/20 bg-gray-800/60 rounded-b"
        >
          <a
            href="/"
            class="inline-flex text-cyan-400 hover:underline items-center gap-2 text-sm"
          >
            <Back class="w-4 h-4" />
            Volver
          </a>
        </div>
      </div>
    </section>
    <Footer />
  </main>
</Layout>

<script>
  function setupCopyCode() {
    const copyButton = document.getElementById("copy-button")
    const codeBlock = document.getElementById("code-block")

    if (copyButton && codeBlock) {
      copyButton.addEventListener("click", async () => {
        try {
          await navigator.clipboard.writeText(codeBlock.textContent ?? "")
          copyButton.classList.add("text-green-400")
          setTimeout(() => {
            copyButton.classList.remove("text-green-400")
          }, 1200)
        } catch (err) {
          console.error("Error copiando el código:", err)
        }
      })
    }
  }

  document.addEventListener("DOMContentLoaded", setupCopyCode)
</script>
